<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Kutubxona | Bosh sahifa</title>
    <style>
        body { font-family: Arial, sans-serif; }
        nav a { margin: 10px; text-decoration: none; font-weight: bold; }
    </style>
</head>
<body>
    <h1>Bosh sahifa</h1>
    <hr>
    <nav>
        <a href='/talabalar/'>Talabalar</a>
        <a href='/kitoblar/'>Kitoblar</a>
        <a href='/mualliflar/'>Mualliflar</a>
        <a href='/kam_kitobli_mualliflar/'>Kam kitobli mualliflar</a>
        <a href='/kutubxonachilar/'>Kutubxonachilar</a>
        <a href='/recordlar/'>Recordlar</a>
        <a href='/mualliflartop3/'>Yoshi katta mualliflar (Top 3)</a>
        <a href='/tirik-mualliflar/'>Tirik mualliflar</a>
        <a href='/eng-katta-kitoblar/'>Eng katta kitoblar</a>
        <a href='/eng-kop-mualliflar/'>Eng ko‘p kitob yozgan mualliflar</a>
        <a href='/eng-oxirgi-recordlar/'>Oxirgi recordlar</a>
        <a href='/tirik-muallif-kitoblari/'>Tirik mualliflarning kitoblari</a>
        <a href='/badiiy-kitoblar/'>Badiiy kitoblar</a>
        <a href='/bitiruvchi-recordlar/'>Bitiruvchi studentlar recordlari</a>
    </nav>
</body>
</html>