<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Kitoblar</title>
</head>
<body>
    <h1>Kitoblar ro'yxati</h1>

    <form method="get">
        <input type="text" name="search" value="{{ search|default:'' }}">
        <button type="submit">Qidirish</button>
    </form>
    <a href="/kitob-qoshish/"><button>Kitob qo‘shish</button></a>

    <form method="get">
        <label>Janr:</label>
        <select name="janr">
            <option value="all" {% if not janr_query or janr_query == 'all' %} selected {% endif %}>Barchasi</option>
            {% for janr in janrlar %}
                <option value="{{ janr }}" {% if janr_query == janr %} selected {% endif %}>
                    {{ janr }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    <a href="/">Bosh sahifa</a>
    <hr>

    {% for kitob in kitoblar %}
        <p>{{ forloop.counter }}.
            <a href="/kitob/{{ kitob.id }}/">{{ kitob.nom }}</a> - {{ kitob.janr }} ({{ kitob.sahifa }} sahifa)
            <a href="/kitoblar/{{ kitob.id }}/tahrirlash/">
                <button>Tahrirlash</button>
            </a>
        </p>
    {% endfor %}
</body>
</html>
