<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Muallif</title>
</head>
<body>
<a href="/">Bosh sahifa</a>
    <hr>
<h1>{{ muallif.ism }} ma'lumoti</h1>
    <hr>
    <p>Ism: {{ muallif.ism }}</p>
    <p>Davlat: {{ muallif.davlat }}</p>
    <p>Kitob soni: {{ muallif.kitob_soni }}</p>
    <p>tugilgan sana: {{ muallif.t_sana }}</p>
    <p>Tirik: {{ muallif.tirik }}</p>
    <p>Jins: {{ muallif.jins }}</p>

    <a href="/mualliflar/">ortga</a>
</body>
</html>